# Examples directory
examples/
.vscode/
.git/
.github/
build/
node_modules/
scripts/

# libs
.gitkeep 
LexActivator.lib
libLexActivator.dylib
libLexActivator.so
libLexActivator.a
binding.gyp

# Source files
src