name: Update version

on:
  workflow_dispatch:
    inputs:
      libraryVersion:
        description: 'Library Version'
        required: true
        default: ''
      packageVersion:
        description: 'Package Version'
        required: true
        default: ''

jobs:
  # Set version in package.json, git tag
  update-version:
    runs-on: ubuntu-latest
    env:
      LIBRARY_VERSION: ${{ github.event.inputs.libraryVersion }}
      PACKAGE_VERSION: ${{ github.event.inputs.packageVersion }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Update Library Version
        run: |
          sed -i -E 's/^([[:space:]]*)VERSION="[^"]*"/\1VERSION="v${{ env.LIBRARY_VERSION }}"/' scripts/*.sh
          sed -i -E 's/^([[:space:]]*\$lexactivator_version[[:space:]]*=[[:space:]]*)"[^"]*"/\1"v${{ env.LIBRARY_VERSION }}"/' scripts/*.ps1


      - name: Update Package Version
        run: |
          jq --arg v "${{ env.PACKAGE_VERSION }}" '.version = $v' package.json > package.json.new && mv package.json.new package.json
     
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          branch: release/${{ env.PACKAGE_VERSION }}
          title: "chore: bump package version to ${{ env.PACKAGE_VERSION }}"
          commit-message: "chore(package version): updated version"
          body: |
            Automated package version bump.
          base: master
          add-paths: |
            package.json
            scripts/*.*

